[Unit]
Description=DBS system monitoring
After=syslog.target network.target

[Service]
Nice=5
Type=simple
User={{ oracle_db_owner }}
Group={{ oracle_db_group }}
Restart=always
RestartSec=5
ExecStart=/bin/python3 /home/oracle/bin/system-monitor.py

[Install]
WantedBy=multi-user.target
